<h1>Edit Employee</h1>

<form method="POST" action="/edit/{{_id}}">
  <p>
    Name: <input type="text" name="name" value="{{name}}">
  </p>

  <p>
    Phone: <input type="text" name="phone" value="{{phone}}">
  </p>

  <button type="submit">Save</button>
</form>