<h1>Edit Employee</h1>

<form method="POST">
  <p>
    Name:<br>
    <input type="text" name="name" value="{{name}}">
  </p>

  <p>
    Phone:<br>
    <input type="text" name="phone" value="{{phone}}">
  </p>

  <button type="submit">Save</button>
</form>